<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	<appender name="FILEINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/log_all.log</file>
   		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
   			<fileNamePattern>logs/log-all-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
   			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
       	 		<maxFileSize>200MB</maxFileSize>
    		</timeBasedFileNamingAndTriggeringPolicy>
   		</rollingPolicy>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %C:%L - %m %n</pattern>
			<charset>utf-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
            <pattern>%d %-5p %C:%L - %m %n</pattern>
			<charset>utf-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>


	<root level="INFO">
		<appender-ref ref="FILEINFO" />
		<appender-ref ref="stdout" />
	</root>
</configuration>